.block-container {
    background-color: #c4c2c2;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    padding: 5px;
}

.block-id {
    color: #2929f7;
}

.block-data {
}